.navigation{
  padding: 40px 130px;
  transition: .3s ease;
  &.nav-bg {
    // background-color: $primary-color;
    background-color: $primary-color;
    padding: 15px 100px;
    @include desktop {
      padding: 15px 20px;
    }
  }
  @include desktop {
    padding: 20px;
    background: linear-gradient(to right, #e9ecf0, #c8cacd) !important;
  }
}

.navbar{
  .nav-item{
    .nav-link{
      font-family: $secondary-font;
      text-transform: uppercase;
      padding: 15px;
      font-weight: bold;
    }
    &.active{
      font-weight: bold;
    }
    &:hover {
      color: $primary-color;
      // color: $text-color-light;
    }
  }
}

.navbar-dark .navbar-nav .nav-link{
  // color: $white;
  color: $char-color;
}

.navbar-light .navbar-nav .nav-link{
  color: $char-color;
  &:hover {
    color: $text-color-light;
  }
}