// Color Variables
$primary-color: #eaeaea;
$secondary-color: #7434d5;
$text-color: #4c4c4c;
$black: #000;
// $text-color-light: #999;
$text-color-light: #f54914;
$white: #fff;
$border-color: #c7c7c7;
$char-color: #000;
$text-color-footer: #999;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
// $primary-font: 'Sofia Pro', sans-serif;
// $secondary-font: 'Sofia Pro', serif;
$icon-font: 'themify';